APP_NAME=JagoKasir
APP_ENV=local
APP_KEY=base64:lEwvkvBLzVSxsZ28/PjDZBTXoIRSmwiqK/fiT2mzoy0=
APP_DEBUG=true
APP_URL=https://api.jagokasir.store
FRONTEND_URL=https://jagokasir.store

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db.nxxhjbwziwxfkuiecrdg.supabase.co
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=Jagokasir12345

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=lndevtech26@gmail.com
MAIL_PASSWORD=kkumnjlasybpjxrz
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=lndevtech26@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

JWT_SECRET=Q3dwLNE02cP4QYo4SFCyFvNn74h4hXGUWEBdlaQaHBp2ABoPkFC1D0p09SSOIJX8

JWT_ALGO=HS256

BAYARGG_API_KEY=API-e05b1b4320cb861f724024ddaa9132739b9d8b1c5e5657b2
BAYARGG_BASE_URL=https://bayar.gg/api

# Sanctum Configuration
# SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1

G4F_API_KEY=g4f_u_mm8547_143844162f01e82bdfadf251a1c1441e60925a6084b5f516_bb63a742


BROADCAST_CONNECTION=reverb

REVERB_APP_ID=490805
REVERB_APP_KEY=eo0b9tmzgk7civfi47pi
REVERB_APP_SECRET=msprx22fqytyhfukzrs9
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

RESEND_API_KEY=your_resend_api_key


